<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzWidth="270px">
    <div class="sidebar-logo">
      <a href="/">
        <img src="https://maartentibau.github.io/angular-logos/logos/nativescript-angular.svg?v=3" alt="Logo">
        <h1>Git Engine Application</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/">Home</a>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
